<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.lianxi.dao.TCarMapper">
	<resultMap type="com.zs.lianxi.domain.Tcar" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="trandemark" property="trandemark"/>
		<result column="rent" property="rent"/>
		<result column="car_type" property="car_type"/>
		<result column="pic_url" property="pic_url"/>
		<result column="created" property="created"/>
	</resultMap>
	<sql id="Base_Column_List">
		id,name,trademark,rent,car_type,pic_url,created
	</sql>
</mapper>

